
<div class="container my-5 py-2 border border-dark rounded bg-success">
   <h1 class="title"> 
   Edit Post 
   <%= link_to '&times;'.html_safe, posts_path, class:"close"%>
   </h1>
   <%= render "form" %>
 </div>