<div class="jumbotron bg-dark text-white pb-0 pt-4  px-0" style="background-image: url('/assets/img6.jpg');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  <h1 class="pl-4 pt-3 display-4"> Blogsite </h1>
  <br><br>

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to "Home" , posts_path, class:"nav-link"%>
      <%= link_to "New Post" , new_post_path, class:"nav-link"%>
      <%= link_to "ContactUs" , "#", class:"nav-link"%>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</div>
